<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</input>
<img width="800px" height="500px" src="data:image/jpg;base64,<%=imginfo.img.data.toString('base64')%>" alt="no image" >



    </form> 
</body>
</html>