<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body {
        font-family: 'lato', sans-serif;
      }
      .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      h2 {
        font-size: 26px;
        margin: 20px 0;
        text-align: center;
        small {
          font-size: 0.5em;
        }
      }
      
      .responsive-table {
        li {
          border-radius: 3px;
          padding: 25px 30px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
        }
        .table-header {
          background-color: #95A5A6;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.03em;
        }
        .table-row {
          background-color: #ffffff;
          box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        }
        .col-1 {
          flex-basis: 10%;
        }
        .col-2 {
          flex-basis: 40%;
        }
        .col-3 {
          flex-basis: 25%;
        }
        .col-4 {
          flex-basis: 25%;
        }
        
        @media all and (max-width: 767px) {
          .table-header {
            display: none;
          }
          .table-row{
            
          }
          li {
            display: block;
          }
          .col {
            
            flex-basis: 100%;
            
          }
          .col {
            display: flex;
            padding: 10px 0;
            &:before {
              color: #6C7A89;
              padding-right: 10px;
              content: attr(data-label);
              flex-basis: 50%;
              text-align: right;
            }
          }
        }
      }</style>
</head>
<body>
    <div class="container">
        <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-3">Name</div>
            <div class="col col-2">Coach number</div>
            <div class="col col-3">Complaint</div>
            <div class="col col-4">Status</div>
          </li>

          <% data.forEach(user=> { %>

            <li class="table-row">
                <div class="col col-3" data-label="name"> <%= user.name %></div>
                <div class="col col-2" data-label="Coach number"> <%= user.coachnumber %></div>
                <div class="col col-3" data-label="copmplaint"> <%= user.complaint %></div>
                <div class="col col-4" data-label="Status">Pending  <a href="/view/<%=user.cid%>">Click more </a>  </div>
              </li>
            
            <% }); %>
        
        
         
        </ul>
      </div>
</body>
</html>